@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body {
	margin: 0;
	padding: 0;
	color: white;
	height: 100%;
	width: 100%;
}	

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-color: white;
	background-image: url("humaRobot.jpg");
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

h1{
	font-family: 'Railway',sans-sarif;
	color: 	#87CEFA;
	text-shadow:  0px 0px 300px #000;
	text-transform: capitalize;
	font-size: 510%;
}

p{
	font-size: 20px;
	font-family: 'Railway',sans-sarif;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 20%;
	height: 40px;
	background-color: black;
	opacity: .8;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover{
	background-color: green;
}